
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff'),
  url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('woff'),
  url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('woff'),
  url('../fonts/Montserrat-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
  url('../fonts/Montserrat-SemiBold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Regular.woff') format('woff'),
  url('../fonts/RobotoSlab-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/RobotoSlab-Light.woff') format('woff'),
  url('../fonts/RobotoSlab-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}



@font-face {
  font-family: 'KaushanScript';
  src: url('../fonts/KaushanScript-Regular.woff') format('woff'),
  url('../fonts/Kaushan-Script-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'RobotoSlab';
  src: url('../fonts/Roboto-LightItalic.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
