$main-font: 'Montserrat', sans-serif;
$seond-title-font: 'KaushanScript', sans-serif;
$sub-main-font: 'RobotoSlab', sans-serif;

$primary-white-color: #ffffff;
$primary-dark-color: #333333;
$secondary-dark-color: #999999;

$primary-accent-color: #fce38a;
$secondary-accent-color: #f38181;

$primary-bg-color: #95e1d3;

$primary-placeholder-color: #cccccc;
$border-input-color: #e5e5e5;


