.wrap-footer{
  color: $primary-dark-color;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid $border-input-color;
  padding: 12px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

}

.wrap-footer__copyright{
  font-size: 14px;
  font-weight: 600;
}
.wrap-footer__copyright a{
  color: $secondary-accent-color;
}

