.main-services{
  padding-top: 46px;
}

.services-list{
  color: $primary-dark-color;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.services-list__item {
  width: 33.33%;
  margin-bottom: 86px;
  position: relative;
  padding-left: 66px;
  padding-right: 15px;
  padding-bottom: 10px;
  &::before{
    @extend %pseudo;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: contain;
    top: 0;
    left: 1%;

  }
}



.services-list__description--title{
  color: $primary-dark-color;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.services-list__description--body{
  color: $secondary-dark-color;
  font-family: $sub-main-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

$icons: photography, web, creativity, seo, ch, digital;

@include generate-pseudo-icons(
    $icons,
    '../images/services/',
    'png'
);



