.team-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.team-list__menu{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-list__bcg{
  background-color: $primary-bg-color;
  margin-bottom: 30px;
}
.team-list__logo-wrap{
  position: relative;
  transition: 0.3s;
}
.team-list__overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(252, 226, 138, 0.7)), color-stop(rgba(255, 203, 128, 0.7)), color-stop(rgba(255, 181, 124, 0.7)), color-stop(rgba(253, 160, 125, 0.7)), to(rgba(244, 140, 130, 0.7)));
  background-image: -o-linear-gradient(bottom, rgba(252, 226, 138, 0.7), rgba(255, 203, 128, 0.7), rgba(255, 181, 124, 0.7), rgba(253, 160, 125, 0.7), rgba(244, 140, 130, 0.7));
  background-image: linear-gradient(to top, rgba(252, 226, 138, 0.7), rgba(255, 203, 128, 0.7), rgba(255, 181, 124, 0.7), rgba(253, 160, 125, 0.7), rgba(244, 140, 130, 0.7));
  opacity: 0;
  visibility: hidden;

  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-list_item:hover {
  .team-list__overlay {
    opacity: 1;
    visibility: visible;

  }
}

.team-list_item{
  flex-basis: 33%;
  max-width: 380px;
}

.team-list_item{
  &:hover {
    .team-list__logo-wrap {
      -webkit-transform: translate(-3%, -2%);
      -ms-transform: translate(-3%, -2%);
      transform: translate(-3%, -2%);
    }
  }
}
.team-list__menu-item{
  margin-right: 1px;
}

.team-list__menu-item{
  &:last-child{
    margin-right: 0;
  }
}
.team-list__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: $primary-accent-color;
  transition: 0.3s;
}
.team-list__link{
  &:hover {
    background-color: $secondary-accent-color;
  }
}
.team-list__link{
  &:hover svg{
    fill: $primary-white-color;
  }
}
.team-list__link svg{
  width: 26px;
  height: 26px;
  fill: $secondary-accent-color;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.team-list__description{
  text-align: center;
}
.team-list__name{
  color: $primary-dark-color;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.team-list__position{
  color: $secondary-dark-color;
  font-family: $sub-main-font;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  font-style: italic;
}
